<!DOCTYPE html>
<html>
<head>
    {% block head %}

    {% endblock %}
    <meta charset='utf-8'>
    <title>{% block title %} {% endblock %}</title>
</head>
<header>
    <a href="/">
        <h1>Главная</h1>
    </a>
    {% if request.user.is_authenticated %}
        <p>Здравствуйте, {{ user.get_username }}!</p>
        <a href="/accounts/videos/">
            <p>Ваши видео</p>
        </a>
        <a href="/accounts/logout/">
            <p>Выход</p>
        </a> 
    {% else %}
        <a href="/accounts/login/">
            <p>Авторизация</p>
        </a>
        <a href="/accounts/register/">
            <p>Регистрация</p>
        </a>
    {% endif %}
    

</header>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>