{% extends 'layout.html' %}

{% block head %}

{% endblock %}

{% block title %}
    Загрузить
{% endblock %}

{% block content %}

<div class="upload">
    <div class="container">
        <div class="upload-grids">
            <div class="upload-right">
                
                    <div class="upload-info">
    
    
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
           
                    <div class="informations">
                        Видео{{ form.video }}
                        Превью{{ form.preview }}
                        <h5>{{ form.description }}</h5>
                        {{ form.errors }}
                        <a href=""><input type="submit"></a>
                    </div>
     

                
            </div>

{% endblock %}